<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}Welcome to mysite{% endblock %}</title>
 {% load staticfiles %}
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
 <link rel="stylesheet" href="{% static 'djurl/css/materialize.min.css' %}" />
 <link rel="stylesheet" href="{% static 'djurl/css/custom.css' %}" />
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">
 $(function() {
 $('#submitButton').click(function() {
 $.ajax({
 type: "POST",
 url: "/makeshort/",
 data: {
 'url' : $('#url').val(),
 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
 },
 success: returnSuccess,
 dataType: 'json'
 });
 });
});

function returnSuccess(data, textStatus, jqXHR) {
 if(data.url) {
 $('#url-result').text(data.url);
 $('#url').val("");
 $("a").attr("href", data.url)
 } else {
 $('#url-result').text("Please enter a URL!");
 }

}
</script>
<body>
<div id="wrap">
<header>
   <h1><a href="{% url 'djurl:home' %}">Dj-URL</a></h1>
   <p>Shorten URLs!</p>
</header>

<div class="container">
{% block content %}

{% endblock %}
</div>
</div>
<footer>&copy; <a href="https://github.com/SanketDG">SanketDG</a> 2015</footer>
<script src="{% static 'djurl/js/clipboard.min.js' %}"></script>
<script type="text/javascript">
new Clipboard('.btn-floating');
</script>
</body>
</html>