{% extends "djurl/base.html" %}

{% block title %}URL Shortener - Make your URL shorter!{% endblock %}

{% block content %}

<div class="col s12">
           <input type="text" name="url" id="url" class="form-control input-sm" placeholder="http://www.google.com" />
       </div>
       <div class="col s3">
           {% csrf_token %}
           <button id="submitButton" class="waves-effect waves-light btn-large blue darken-3">Submit</button>
       </div>
   <div class="panel-footer"><a href="#" id="url-result">Enter the URL above and click submit!</a></div>
{% endblock %}
